
body {
    font-family: Helvetica Neue;
}

.mainimg {
    max-width: 90%;
    max-height: 400px;
    margin: 10px auto;
    display: block;
}

.review {
    max-width: 500px;
    margin: auto;
}

.detailtable {
    max-width: 500px;
    margin: auto;
}

.content {
    max-width: 500px;
    margin: auto;
}